@CHARSET "UTF-8";
div.menu {
	float:left;
	-webkit-border-radius: 4px;
	background-color: #112233;
	color: white;
	display:block;
	margin: 5px 10px 5px 10px;
	font-size: 10px;
}
.menu ul {
	padding: 10px 5px 5px 10px;
	
}

.menu ul li {
	list-style-type:none;
	width: 120px;
	float:left;
	text-align: left;
}


.menu li:hover {
	background-color: #89b2ff;
}

.menu li.active {
	/* ;font-size: 14px; */
}


.menu a {
	text-decoration: none;
	color: white;
}

.menu a {
	
	
}

.main {
	float: left;
	width: 760px;
	min-height: 800px;
	padding: 10px 5px 5px 10px;
}

.main dd, .main dt {
	margin-left: 5px;
}