@CHARSET "UTF-8";
div.menu {
	float:left;
	border-radius: 4px;
	
	background-color: #112233;
	color: white;
	display:block;
	margin: 0px 0px 0px 0px;
	
}
.menu ul {
	margin: 0px 0px 10px 10px;
	padding: 0px 0px 0px 0px;
	width: 700px;
	
}

.menu ul li {
	list-style-type:none;
	width: 80px;
	height: 25px;
	float:left;
	text-align: center;
	padding: 10px 10px 10px 10px;
	margin-right: 0px;
	margin-left: 0px;
	line-height: 25px;
	
}


.menu li:hover {
	background-color: #89b2ff;
}

.menu li.active {
	/* ;font-size: 14px; */
}


.menu a {
	text-decoration: none;
	color: white;
}

.menu a {
	
	
}

.main {
	float: left;
	width: 760px;
	min-height: 800px;
	padding: 10px 5px 5px 10px;
}

.main dd, .main dt {
	margin-left: 5px;
}