h1.logo a {
  background: transparent url(../images/logo.jpg) no-repeat scroll 0%;
  display: block;
  height: 100px;
  position: relative;
  width: 300px;
  z-index: 100;
}
h1.logo a span {
  position: absolute;
  top: -1000px;
}
